# Feature engineering

# 1. Imports

## 1.1 Packages

In [1]:
import os
import pandas as pd

In [2]:
from stock_data.pipelines.feature_engineering.nodes import add_test_indicator

## 1.2 Options

In [3]:
path_data = "../data/01_raw/"

## 1.3 Dataset

In [4]:
df_aapl = pd.read_parquet(os.path.join(path_data, "stock_data_aapl.parquet"))

# 2. Feature engineering

In [5]:
df_aapl

Price        Date       Close        High         Low        Open     Volume
Ticker                   AAPL        AAPL        AAPL        AAPL       AAPL
0      2020-01-02   72.716072   72.776598   71.466812   71.721019  135480400
1      2020-01-03   72.009132   72.771760   71.783977   71.941343  146322800
2      2020-01-06   72.582909   72.621646   70.876075   71.127866  118387200
3      2020-01-07   72.241554   72.849231   72.021238   72.592601  108872000
4      2020-01-08   73.403633   73.706264   71.943744   71.943744  132079200
...           ...         ...         ...         ...         ...        ...
1312   2025-03-24  220.729996  221.479996  218.580002  221.000000   44299500
1313   2025-03-25  223.750000  224.100006  220.080002  220.770004   34493600
1314   2025-03-26  221.529999  225.020004  220.470001  223.509995   34466100
1315   2025-03-27  223.850006  224.990005  220.559998  221.389999   37094800
1316   2025-03-28  217.899994  223.809998  217.679993  221.669998   39818600

[1317 rows x 6 columns]

In [6]:
df_aapl_prep = add_test_indicator(df_aapl, n_days=7)